{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inherit Admin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/09e314988c.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static '/Css/adInh.css' %}">

    <!--Extra Headings Below-->
    {% block extra_head %}
    {% endblock %}

</head>
<body>
    
    <div class="mainDah">

        <!--The navigation-->
        <div class="navDs">

            
            <!--Individual Navs-->

            <a href="">

                <div class="navIc">

                    <div id="nvIc">
                        <i class="fas fa-solid fa-chart-line"></i>
                    </div>
    
                    <!--Showing position-->
                    <div class="show1">
                    </div>
    
                </div>

            </a>


            <!--Individual Navs-->
            <a href="">

                <div class="navIc">

                    <div id="nvIc">
                        <i class="fas fa-solid fa-video"></i>
                    </div>
    
                    <!--Showing position-->
                    <div class="show2">
                    </div>
    
                </div>

            </a>

            <!--Individual Navs-->
            <a href="">

                <div class="navIc">

                    <div id="nvIc">
                        <i class="fas fa-solid fa-play"></i>
                    </div>
    
                    <!--Showing position-->
                    <div class="show3">
                    </div>
    
                </div>

            </a>

            <!--LogOut Button-->


            <div class="logO">
                <a href="">

                    <div id="logOut">
                        <i class="fas fa-solid fa-power-off"></i>
                    </div>

                </a>
            </div>

        </div>


        <!--The Line Separation-->
        <div class="sepL">
            
        </div>

        <!--The Content space-->
        <div class="contDs">

            <!--This is where all items will be held-->
            {% block allDetail %}
            {% endblock %}

        </div>

    </div>

</body>

<!--This is the js block-->
{% block js %}
{% endblock %}

</html>