{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/09e314988c.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static '/Css/inherit.css' %}">

    <!--Head For Other Pages-->
    {% block extra_head %}{% endblock %}

    <title>Inherit</title>
</head>
<body>
    
    <!--The Navigation and Logo section-->
    <div class="intUp">

        <!--The Navigation-->
        <div class="nav">

            <!--The logo-->
            <div class="logo">

                <div class="Cr1">

                </div>
                <div class="Cr2">

                </div>

            </div>

            <!--The Navigation-->

            <div class="navigBt">

                <!--User Link-->
                <a href="">
                    <div id="user">
                        <i class="far fa-user"></i>
                    </div>
                </a>

                 <!--BurgerNav Start-->
                <div class="bagger">
                    <div class="bar"></div>
                </div>
                <!--BurgerNav Start-->

            </div>

        </div>
    </div>

    <!--The Backgound Image-->
    <div class="backImg">

        <!--This will replace all the images that are available-->
        {% block imgs %}
        {% endblock %}

        <!--
            <div class="img">
                <img src="{% static '/Images/introSlider/band.jpg' %}" alt="">
            </div>
            <div class="text">
                <h1>PRAECHING</h1>
            </div>
        -->
       
    </div>

    <!--The rest of the contents will be replace here-->
    {% block content %}
    {% endblock %}


    <!--Footer-->
    <div class="fott">
        <div class="fot1">

            <H4>Subscribe To Get Daily Verses</H4>

            <form action="">

                <input type="text" class="input" placeholder="Full Name">
                <input type="email" class="input" placeholder="Email">
                <input type="submit" value="Subscribe" class="suBt">

            </form>

        </div>

        <!--The Links-->
        <div class="fot2">

            <!--About-->
            <a href="">
                <div class="link">
                    <div id="icn">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <span>ABOUTS</span>
                </div>
            </a>

            <!--Contact-->
            <a href="">
                <div class="link">
                    <div id="icn">
                        <i class="fas fa-phone-square-alt"></i>
                    </div>
                    <span>CONTACTS</span>
                </div>
            </a>

            <!--Preaching-->
            <a href="">
                <div class="link">
                    <div id="icn">
                        <i class="fas fa-bible"></i>
                    </div>
                    <span>PREACHINGS</span>
                </div>
            </a>

            <!--Offering-->
            <a href="">
                <div class="link">
                    <div id="icn">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <span>OFFERING</span>
                </div>
            </a>

            <!--Band-->
            <a href="">
                <div class="link">
                    <div id="icn">
                        <i class="fas fa-drum"></i>
                    </div>
                    <span>BAND</span>
                </div>
            </a>


        </div>
    </div>


    <!--Lower FOOTER-->
    <div class="low">
        <!--Logo And C-->
        <div class="loMine">

            <!--The logo-->
            <div class="FotLg">
                <!--The logo-->
                <div class="logo">

                    <div class="Cr1">

                    </div>
                    <div class="Cr2">

                    </div>

                </div>
            </div>

            <div class="cpr">
                <div id="copy">
                    <i class="far fa-copyright"></i>
                </div>
                <span> 2022 TurnPoint Church</span>
            </div>

        </div>

        <!--Terms And Privacy-->
        <div class="term">

            <a href=""><span>Terms & Conditions</span></a>
            <a href=""><span>Privacy Policy</span></a>

        </div>

    </div>

</body>

<!--JavaScripts-->
<script src="{% static '/Js/intro.js' %}"></script>

</html>